In [1]:
import pandas as pd

In [7]:
df_train_en = pd.read_csv('/Users/patriciagrigor/Desktop/MASTER/CEU_hate/multilingual-hate-speech/data_variations/en/EN_train_duplicate_all.csv')

In [2]:
df_test_en = pd.read_csv('/Users/patriciagrigor/Desktop/MASTER/CEU_hate/multilingual-hate-speech/final_models/EN_test.csv')

In [15]:
df_train_en.head()

,Comment_ID,Text,Type,Annotator
0,Ugw-aRHvR13qVkeSjGx4AaABAg,corona virus chaple hill nc lab 2015........ g...,0,PP
1,Ugw-QHyZVdau0yayj6Z4AaABAg,really url1,0,PP
2,Ugw2spD590YtT2_Fmyp4AaABAg,just listening to his ugly voice makes me sick,2,PP
3,Ugw2spD590YtT2_Fmyp4AaABAg.97AZZVDjMPW97ApiiCLgXj,-*-*-*- you can vote than for him....url1 matt...,0,PP
4,Ugw2spD590YtT2_Fmyp4AaABAg.97AZZVDjMPW97B0c59Ba6O,-*-*-*- username1’s journey i hope you see als...,2,PP

In [14]:
#drop columns "Target", "Video_ID"

df_train_en = df_train_en.drop(columns=['Target', 'Video_ID'])

In [3]:
df_test_en = df_test_en.drop(columns=['Target', 'Video_ID'])

In [3]:
df_train_it = pd.read_csv('/Users/patriciagrigor/Desktop/MASTER/CEU_hate/multilingual-hate-speech/IT_train_clean.csv')

In [4]:
df_test_it = pd.read_csv('/Users/patriciagrigor/Desktop/MASTER/CEU_hate/multilingual-hate-speech/final_models/IT_test.csv')

In [25]:
df_train_it.head()

,Comment_ID,Text,Type,Annotator
0,Ugw_8YcY4vl2hYO3XZJ4AaABAg,"il solito vizio,o moda, della sinistra di anda...",2,IMSyPP_IT_YouTube_a0.csv
1,Ugw_8YcY4vl2hYO3XZJ4AaABAg.96hs8xBdS8o96htN_xN_Qd,-*-*-*- giuseppe se questa notizia è vera sare...,2,IMSyPP_IT_YouTube_a0.csv
2,Ugw_8YcY4vl2hYO3XZJ4AaABAg.96hs8xBdS8o96hvHMIEBP5,-*-*-*- username1 cammarata ci sarebbe da fare...,2,IMSyPP_IT_YouTube_a0.csv
3,Ugw_MSO29v5h9xcgVoB4AaABAg,siamo alla follia,2,IMSyPP_IT_YouTube_a0.csv
4,Ugw_ZltzXANNSm669Ol4AaABAg,ma stiamo scherzandooooo. questi sono pazzi...,2,IMSyPP_IT_YouTube_a0.csv

In [16]:
df_train_it = df_train_it.drop(columns=['ID_Video', 'ID_Commento.1', 'Nome_Utente','Target','Tono positivo', 'Lingua/contesto'])

In [5]:
df_test_it = df_test_it.drop(columns=['ID_Video', 'ID_Commento.1', 'Nome_Utente','Target','Tono positivo', 'Lingua/contesto'])

In [24]:
#rename columns by using the same names as in the English dataset

df_train_it = df_train_it.rename(columns={"ID_Commento": "Comment_ID", "Testo": "Text", "Tipo": "Type"})

In [6]:
df_test_it = df_test_it.rename(columns={"ID_Commento": "Comment_ID", "Testo": "Text", "Tipo": "Type"})

In [6]:
df_train_slo = pd.read_csv('/Users/patriciagrigor/Desktop/MASTER/CEU_hate/multilingual-hate-speech/SLO_train_clean.csv')

In [7]:
df_test_slo = pd.read_csv('/Users/patriciagrigor/Desktop/MASTER/CEU_hate/multilingual-hate-speech/final_models/SLO_test.csv')

In [11]:
df_test_slo.head()

,ID,besedilo,vrsta,Annotator
0,1285847928138014720,"username1 par dni nazaj mi je nekdo razlagal, ...",0,IMSyPP anotacije round2 a0 (AS).csv
1,1236543485081198593,username2 username3 username1 točno to pišem t...,0,IMSyPP anotacije round2 a0 (AS).csv
2,1277272167365910530,username1 50 eur na mesec za širjenje propagan...,0,IMSyPP anotacije round2 a0 (AS).csv
3,1273597090384547840,"username1 username2 ko bi le ""mamice opremljaj...",0,IMSyPP anotacije round2 a0 (AS).csv
4,1255866280504168448,username1 je obsojen na zanikanje vsega kar je...,2,IMSyPP anotacije round2 a0 (AS).csv

In [18]:
df_train_slo = df_train_slo.drop(columns=['ID.1', 'uporabnik', 'tarča','jezik/kontekst'])

In [10]:
df_test_slo = df_test_slo.drop(columns=['uporabnik', 'tarča','jezik/kontekst'])

In [26]:
#rename columns by using the same names as in the English dataset

df_train_slo = df_train_slo.rename(columns={"ID": "Comment_ID", "besedilo": "Text", "vrsta": "Type"})

In [12]:

df_test_slo = df_test_slo.rename(columns={"ID": "Comment_ID", "besedilo": "Text", "vrsta": "Type"})

In [28]:
#merge the three dataframes into a new dataframe

df_multi = pd.concat([df_train_en, df_train_it, df_train_slo])

In [13]:
df_multi_test = pd.concat([df_test_en, df_test_it, df_test_slo])

In [30]:
#shuffle the instances

df_multi = df_multi.sample(frac=1).reset_index(drop=True)

In [14]:
df_multi_test = df_multi_test.sample(frac=1).reset_index(drop=True)

In [15]:
df_multi_test.head()

,Comment_ID,Text,Type,Annotator
0,1245963391996497920,username2 username3 username1 username4 bravo ...,0,IMSyPP anotacije round2 a6 (NC).csv
1,1287638878300639235,📢do pol milijona evrov subvencije je mogoče do...,0,IMSyPP anotacije round2 a7 (NS).csv
2,UgyE4REV6oF-Uo0_b_N4AaABAg,"non sono un simpatizzante di conte, ma qua ho ...",0,IMSyPP_IT_YouTube_ev_a5.csv
3,1226174103058604033,"izjemno hiter ježek sonic, ki je po nesrečnem ...",0,IMSyPP anotacije round2 a8 (PP).csv
4,UgzOvVVL-IxDn3K3T8J4AaABAg,i’m kinda surprise that other then 2 new decks...,0,MG

In [32]:
#save the new dataframe as a csv file

df_multi.to_csv('/Users/patriciagrigor/Desktop/MASTER/CEU_hate/multilingual-hate-speech/data_variations/multi/multi_train_duplicate_all.csv', index=False)

**Creating Duplicate Disagreement** (removing double instances where annotators agree)

In [33]:
df_multi_dd = df_multi.drop_duplicates(subset=['Comment_ID', 'Type'], keep="first")

In [34]:
df_multi_dd.to_csv('/Users/patriciagrigor/Desktop/MASTER/CEU_hate/multilingual-hate-speech/data_variations/multi/multi_dd.csv', index=False)

**Creating Remove Disagreement** (only keeping instances where annotators agree)

In [35]:
df_multi_rd = df_multi_dd.drop_duplicates(subset=['Comment_ID'], keep=False)

In [36]:
df_multi_rd.to_csv('/Users/patriciagrigor/Desktop/MASTER/CEU_hate/multilingual-hate-speech/data_variations/multi/multi_rd.csv', index=False)